<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="false"/>
  <arg name="simulation" default= "true"/>
  <param name="/use_sim_time" value="$(arg simulation)" /> 

  <!-- simulation robot with lidar and map-->
  <include file="$(find tarkbot_stage)/launch/bringup.launch"/>

  <!-- SLAM -->
  <include file="$(find tarkbot_stage)/launch/includes/tarkbot_gmapping.launch">
  <arg name="simulation"            value="$(arg simulation)"/>
  </include>

</launch>
