<launch>


    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find tarkbot_gazebo)/urdf/tarkbot_car.urdf.xacro" />

    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
         <arg name="world_name" value="$(find tarkbot_gazebo)/worlds/test.world" />
    </include>
    
    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />

    <!-- 添加关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- 添加机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
     <param name="publish_frequency" type="double" value="50.0" /> <!--发布频率-->
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /support /depth_camera" />

    <!-- 建图节点 -->
    <include file="$(find tarkbot_gazebo)/launch/includes/tarkbot_gmapping.launch"/>


</launch>
